//Color variables


//Core colors
$c-lightgray: #DEEAF6;
$c-blue: #4392F1;
$c-red: #D00000;
$c-black: #3C3A3B;
$c-white: #F6F9FF;


//Element Colors
$c-bg-body: $c-lightgray;
$c-shadow-login-form: $c-white;
